<h1>Success! Your vehicle has been added to this dealership's list.</h1>
<a href="/dealerships/<%= @dealership.id() %>">See this Dealership's Vehicle List</a>
<a href="/dealerships/<%= @dealership.id%>/vehicles/new">Add Another Vehicle to this Dealership</a>
